# Hugo output
public
resources/_gen
.hugo_build.lock
.tools

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
.obsidian
.DS_Store
.vscode
